/* Grund-CSS*/

body {
	margin: 0;
	position: relative;
	width: 100%;
	max-width: 100%;
}

.logo {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 08;
	width: 100%;
	max-width: 100%;
	height: auto;
	z-index: 300;
}

.nav {
	position: fixed;
	z-index: 300;
	width: 100%;
	height: auto;
	max-width: 100%;
	padding-bottom: 0.4%;
  padding-top: 0.8%;
  margin-top: 1%;
  background-color: rgb(241, 241, 241);
  border-top: solid;
  border-bottom: solid;
  border-width: 0.5px;
  border-color:  rgb(196, 195, 195);
}

.nav li {
	display: inline;
  }

.nav a {
  text-decoration: none;
  padding: 0 1%;
  font-size: 0.9rem;
  letter-spacing: 0.12rem;
  color: #0c0c0c;
  font-family: "Kalinga", Arial, Helvetica;
  text-transform: uppercase;
}

.nav .active { 
  font-weight: bold;
}

.logincontent {
	width: 100%;
	max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
	padding-top: 4rem;
}

.contenttwo {
	width: 60%;
	max-width: 60%;
	height: auto;
	padding-top: 9rem;
	padding-bottom: 8%;
	margin-top: 13%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Euphemia", Times, Serif;
  font-size: 0.9rem;
  }

  h3 {
    padding-top: 5%;
    margin-bottom: 1rem;
    font-family: "Euphemia",Arial, Helvetica;
    font-style: normal;
    font-size: 1.1rem;
  }

h1 {
	padding-top: 10%;
	margin-bottom: 1rem;
	font-family: "Euphemia",Arial, Helvetica;
  font-style: normal;
  font-size: 1.3rem;
}

.starth1 {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 0.5rem ;
  padding-bottom: 15rem;
}

footer {
	position: relative;
	width: 100%;
	max-width: 100%;
	height: auto;
  padding-top: 13%;
  bottom: 0%;
  color: rgb(165, 165, 165);
  background-color:   rgb(241, 241, 241);
}

.copyright {
	position: relative;
	padding-top: 0.5%;
  padding-bottom: 0.5%;
  text-align: center;
  font-family: "Kalinga", Arial, Helvetica;
  font-size: 0.8rem;
}



/* CSS för Inloggningssidan*/

.login-form,
.login-form input {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}

.login-form {
    position: relative;
    width: 250px;
    height: 250px;
    padding: 15px 25px 0 25px;
    margin-top: 15%;
    margin-left: 40%;
    background-color: #f1f1f1;

    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
     border-radius: 26px;
}

.login-form h3 {
    line-height: 40px;
    font-family: "Euphemia", Times, Serif;
    font-size: 22px;
    font-weight: normal;
    color: #0e0d0d;
}

.login-form input[type=text],
.login-form input[type=password],
.login-form input[type=submit] {
    line-height: 14px;
    margin: 10px 0;
    padding: 6px 15px;
    border: 0;
    outline: none;
 
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
 
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
     border-radius: 26px;
}

.login-form input[type=text],
.login-form input[type=password],
.js .login-form span {
    color: rgb(71, 71, 71);
    width: 170px;
 
    -webkit-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    -moz-box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .6);
    background: #cfcfcf;
}

.login-form input[type=submit] {
    float: right;
    cursor: pointer;
    color: #0c0c0c;
    background-color:  rgb(150, 150, 150);
    box-shadow: inset 1px 1px 1px 0px rgba(255,255,255, .45), 0px 1px 1px 0px rgba(0,0,0, .3);
}



/* CSS för sidan Kursinformation*/

#courseinfo {
    font-family: "Euphemia", Times, Serif;
    border-collapse: collapse;
    width: 100%;
}

#courseinfo td, #courseinfo th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
#courseinfo tr:nth-child(even){background-color: #f2f2f2;}
  
#courseinfo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(173, 173, 173);
    color: white;
  }



/* CSS för Quizsidan*/

.rightAnswers {
  background-color: rgb(86, 134, 88);
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 20%;
  margin-bottom: 5%;
  cursor: pointer;
}

.radiobutton {
  display: inline-block;
}
